.product-details-container {
    width: calc(100% - 50px);
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden; /* Remove horizontal scrolling */
}

.product-details-container>* {
    margin-left: 75px;
}

.product-details-container .button {
    background-color: #1e2835;
    height: 40px;
    width: 100px;
    color: white;
    font-family: 'poppins';
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.product-details-container .button:hover {
    background-color: #424a56;
}

.product-details-product {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.product-details-product-left {
    width: 550px;
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e2835; /* Ensure no patch of other color */
    border-radius: 10px;
}

.product-details-product-left>img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Maintain aspect ratio, cover the area */
}

.product-details-product-left>i {
    position: absolute;
    top: 45px;
    right:20px;
    color: grey;
    font-size: 2rem;
}

.product-details-product-left>i:hover {
    color: pink;
    transform: scale(1.1);
    cursor: pointer;
}

.product-details-product-right {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'poppins';
    width: 600px;
    max-width: 100%;
}

.product-details-product-right>* {
    margin: 0;
}

.product-details-product-right>.name {
    font-weight: 450;
    margin-bottom: 20px;
}

.product-details-product-right>h2 {
    font-family: 'poppins';
    color: #e0207a;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.product-details-product-right>p {
    margin: 0;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.product-details-product-right>.description {
    color: grey;
    margin-bottom: 20px;
    font-size: large;
}

.product-description-rating {
    margin-top: 20px;
    font-size: 0.85rem;
}

.product-details-product-right>.qty {
    display: flex;
    align-items: center;
}

.product-details-product-right>.qty>select {
    margin: 20px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

.product-details-product-right button {
    height: 40px;
    width: 100%;
    background-color: #e02073;
    color: white;
    font-family: 'poppins';
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}

.product-details-product-right button:hover {
    background-color: #b11e5e;
}

.product-review {
    display: flex;
    width: 80%;
    min-width: 600px;
    gap: 80px;
    margin-top: 20px;
}

.product-review-left {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.product-review-left button {
    color: white;
    background-color: rgb(15, 15, 15);
    border: none;
    height: 60px;
    width: 100%;
    font-size: large;
    border-radius: 10px;
}

.product-review-left button:hover {
    background-color: #b11e5e;
    cursor: pointer;
}

.myActiveClass>button {
    background-color: #e02073;
}

.product-review-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.related-products-div {
    display: flex;
    flex-wrap: wrap;
}

.no-related-products-found {
    color: white;
    font-family: 'poppins';
    font-size: large;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .product-details-product {
        flex-direction: column;
        align-items: center;
    }

    .product-details-product-left {
        width: 100%;
        max-width: 100%;
        background-color: #1e2835; /* Ensure no patch of other color */
        border-radius: 10px;
    }

    .product-details-product-left>img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: contain; /* Maintain aspect ratio, contain within the container */
    }

    .product-details-product-right {
        width: 90%;
        margin-top: 20px;
    }
}

 